<form asp-action="Search" asp-controller="CustomerProduct">
    <div class="input-group mb-3">
    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="query">
        <button class="btn btn-outline-secondary"><span id="search-icon-1" class="input-group p-3"><i class="fa fa-search"></i></span></button>
    </div>
</form>