
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>You have placed your order successfully. Your order will be delivered as soon as possible. Thank you</h1>

