@model AmazonWebsite.Areas.Admin.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 text-primary font-weight-bold">Edit</h1>
    <h2 class="text-primary">Customer</h2>
</div>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group m-2">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group m-2 ">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group m-2 ">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group m-2 ">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="PhoneNumbers" class="control-label"></label>
                <input asp-for="PhoneNumbers" class="form-control" />
                <span asp-validation-for="PhoneNumbers" class="text-danger"></span>
            </div>
            <div class="form-group m-2" >
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="ImageFile" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check m-2 ">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Validation" /> @Html.DisplayNameFor(model => model.Validation)
                </label>
            </div>
            <div class="form-group m-2">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <input type="submit" value="Save" class="btn btn-success m-1" />
                <a class=" btn btn-success m-1" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

